<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{ 'PROBLEM_TITLE' | translate }}</h1>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'PROBLEM_TITLE' | translate }}</th>
        <th class="hidden-md-down">{{ 'PROBLEM_LABEL' | translate }}</th>
        <th class="hidden-sm-down">{{ 'PROBLEM_STATE' | translate }}</th>
        <th class="hidden-md-down">{{ 'PROBLEM_SUBMISSIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let problem of problems">
        <th scope="row">{{ problem.id }}</th>
        <td><a [routerLink]="'/problem/' + problem.id">{{ problem.name }}</a></td>
        <td class="hidden-md-down">
          <span
            class="label label-default"
            *ngFor="let label of problem.labels"
            [ngClass]="{'label-default': label.type == 'type', 'label-primary': label.type == 'source'}">
            {{ label.name }}
          </span>
        </td>
        <td class="hidden-sm-down">
          <span class="label" [ngClass]="'label-' + JudgeLabel[problem.state]">
            {{ 'JUDGE_STATE_' + problem.state | translate}}
          </span>
        </td>
        <td class="hidden-md-down">
          <span>{{ problem.acratio }}%</span>
          <span class="hidden-md-down"> ({{ problem.judge.ac }}/{{ problem.judge.sum }})</span>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="text-xs-center" *ngIf="hiddencnt > 0"><em>{{ 'PROBLEM_HIDDEN' | translate: { cnt : hiddencnt } }}</em></p>
</div>
<div class="container">
  <div class="text-xs-center">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span>&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let i of [1, 2, 3, 4, 5]"><a class="page-link" href="#">{{ i }}</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span>&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>
