<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{ 'PROBLEM_TITLE' | translate }}</h1>
  </div>
</div>
<div class="container">
  <h1>Recommand</h1>
  <div class="card-columns">
    <div class="card">
      <div class="card-header">
        Based on labels
      </div>
      <div class="card-block">
        <h4 class="card-title">Algorithm</h4>
        <p class="card-text">View all problems of algorithm.</p>
        <a href="#" class="card-link">I'm Feeling Lucky</a>
        <a href="#" class="card-link">Learn More</a>
        <p class="card-text">
          <small class="text-muted">
          </small>
      </div>
      <div class="card-footer">
        300 Problems Included
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Based on what you like
      </div>
      <div class="card-block">
        <h4 class="card-title">CyanD1317's Recommand</h4>
        <p class="card-text">Problem Set created by CyanD1317.</p>
        <a href="#" class="card-link">I'm Feeling Lucky</a>
        <a href="#" class="card-link">Learn More</a>
        <p class="card-text">
          <small class="text-muted">
          </small>
      </div>
      <div class="card-footer">
        3 Problems Included
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Based on your friends
      </div>
      <div class="card-block">
        <h4 class="card-title">SkyZH got WA</h4>
        <p class="card-text">View all problems SkyZH hasn't passed.</p>
        <a href="#" class="card-link">I'm Feeling Lucky</a>
        <a href="#" class="card-link">Learn More</a>
        <p class="card-text">
          <small class="text-muted">
          </small>
      </div>
      <div class="card-footer">
        3 Problems Included
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1>All</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'PROBLEM_TITLE' | translate }}</th>
        <th class="hidden-md-down">{{ 'PROBLEM_LABEL' | translate }}</th>
        <th class="hidden-sm-down">{{ 'PROBLEM_STATE' | translate }}</th>
        <th class="hidden-md-down">{{ 'PROBLEM_SUBMISSIONS' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let problem of problems">
        <th scope="row">{{ problem.id }}</th>
        <td><a [routerLink]="'/problem/' + problem.id">{{ problem.name }}</a></td>
        <td class="hidden-md-down">
          <span
            class="label label-default"
            *ngFor="let label of problem.labels"
            [ngClass]="{'label-default': label.type == 'type', 'label-primary': label.type == 'source'}">
            {{ label.name }}
          </span>
        </td>
        <td class="hidden-sm-down">
          <span class="label" [ngClass]="'label-' + JudgeLabel[problem.state]">
            {{ 'JUDGE_STATE_' + problem.state | translate}}
          </span>
        </td>
        <td class="hidden-md-down">
          <span>{{ problem.acratio }}%</span>
          <span class="hidden-md-down"> ({{ problem.judge.ac }}/{{ problem.judge.sum }})</span>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="text-xs-center" *ngIf="hiddencnt > 0"><em>{{ 'PROBLEM_HIDDEN' | translate: { cnt : hiddencnt } }}</em></p>
</div>
<div class="container">
  <p class="text-xs-center"><i class="fa fa-circle-o-notch fa-spin fa-fw fa-3x"></i></p>
</div>
