<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{ problem.id }}# {{ problem.name }}</h1>
    <div>
      <span
        class="label label-default"
        *ngFor="let label of problem.labels"
        [ngClass]="{'label-default': label.type == 'type', 'label-primary': label.type == 'source'}">
        {{ 'PROBLEM_LABEL_' + label.type.toUpperCase() | translate }} {{ label.name }}
      </span>
    </div>
    <div>
      <span class="label label-info">{{ 'PROBLEM_TIME_LIMIT' | translate }} {{ problem.limits['time'] }}ms</span>
      <span class="label label-info">{{ 'PROBLEM_MEM_LIMIT' | translate }} {{ problem.limits['memory'] / 1024 }}MB</span>
      <a class="label label-warning" *ngIf="langLimited" href="javascript:void(0)" (click)="langExpanded = !langExpanded">
        <span *ngIf="!langExpanded">{{ problem.limits['lang'].length }} Languages Allowed  <i class="fa fa-angle-double-right"></i></span>
        <span *ngIf="langExpanded">
          <span *ngFor="let lang of problem.limits.lang; let i = index">
            <span *ngIf="i > 0">|</span> {{ 'JUDGE_LANG_' + lang | translate }}
          </span>
          <i class="fa fa-angle-double-left"></i>
        </span>
      </a>
      <span class="label label-warning" *ngIf="!langLimited">{{ 'PROBLEM_LANG_LIMIT' | translate }} {{ 'PROBLEM_LANG_LIMIT_ALL' | translate }}</span>
    </div>
  </div>
</div>
<div class="container">
  <h1>{{ 'PROBLEM_CONTENT' | translate }}</h1>
  <p>{{ problem.content }}</p>
  <h1>{{ 'PROBLEM_SAMPLE' | translate }}</h1>
  <div class="row" *ngFor="let data of problem.data">
    <div class="col-xs-12 m-b-1">
      <div class="card-group">
        <div class="card">
          <div class="card-header">
            <span>{{ data.name }}</span> <small class="text-muted">{{ 'PROBLEM_INPUT' | translate }}</small>
          </div>
          <div class="card-block">
            <samp class="card-text">{{ data.input }}</samp>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <span>{{ data.name }}</span> <small class="text-muted">{{ 'PROBLEM_OUTPUT' | translate }}</small>
          </div>
          <div class="card-block">
            <samp class="card-text">{{ data.output }}</samp>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>{{ 'PROBLEM_HINT' | translate }}</h1>
  <p>{{ problem.hint }}</p>
</div>
