<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{ 'JUDGE_TITLE' | translate }}</h1>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th class="hidden-md-down">Problem</th>
        <th>User</th>
        <th>Result</th>
        <th class="hidden-md-down">Score</th>
        <th class="hidden-md-down"><abbr title="Maximum Time">Time</abbr></th>
        <th class="hidden-md-down"><abbr title="Maximum Memory">Mem</abbr></th>
        <th class="hidden-lg-down"><abbr title="Language">Lang</abbr></th>
        <th><abbr title="Length">Len</abbr></th>
        <th class="hidden-md-down">Submit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let judge of judges">
        <th scope="row">{{ judge.id }}</th>
        <td class="hidden-md-down"><a [routerLink]="'/problem/' + judge.problem.id">{{ judge.problem.name }}</a></td>
        <td><a [routerLink]="'/user/' + judge.user.id">{{ judge.user.name }}</a></td>
        <td>
          <span class="label" [ngClass]="'label-' + JudgeLabel[judge.state]">
            {{ 'JUDGE_STATE_ABBR_' + judge.state | translate}}
          </span>
        </td>
        <td class="hidden-md-down"><span>{{ judge.score }}/{{ judge.totalScore }}</span></td>
        <td class="hidden-md-down">{{ judge.time }}ms</td>
        <td class="hidden-md-down">
          <span *ngIf="judge.memory < 16384">{{ judge.memory }}KB</span>
          <span *ngIf="judge.memory >= 16384">{{ judge.memoryMB }}MB</span>
        </td>
        <td class="hidden-lg-down">{{ 'JUDGE_LANG_' + judge.lang | translate }}</td>
        <td>
          <a [routerLink]="'/judge/' + judge.id" *ngIf="judge.isAvailable">{{ judge.length }}B</a>
          <span *ngIf="!judge.isAvailable">{{ judge.length }}B</span>
        </td>
        <td class="hidden-md-down">{{ judge.submitTime | amDateFormat:'MM/DD HH:mm:ss' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="text-xs-center">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span>&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let i of [1, 2, 3, 4, 5]"><a class="page-link" href="#">{{ i }}</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span>&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>
