<div class="card">
  <div class="card-header">
    Enrolling
  </div>
  <div class="card-block">
    <h4 class="card-title">EFZ #1</h4>
    <p class="card-text">NOIP 练习赛。题目并不多。</p>
    <a href="#" class="card-link">Enroll</a>
    <a href="#" class="card-link">Learn More</a>
    <p class="card-text">
      <small class="text-muted">
        <span *ngIf="isClock">Will start in {{ 1468580400000 | amTimeAgo }}, lasts for {{ 1468587600000 - 1468580400000 | amDuration:'milliseconds' }}.</span>
        <span *ngIf="!isClock">{{ 1468580400000 | amDateFormat:'YYYY/MM/DD HH:mm:ss' }}~{{ 1468587600000 | amDateFormat:'HH:mm:ss' }}.</span>
        <a (click)="isClock = !isClock"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
      </small>
    </p>
  </div>
  <div class="card-footer">
    300 people have enrolled in.
  </div>
</div>
