<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">{{ 'CONTEST_TITLE' | translate }}</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Upcoming</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="http://frc.hsefz.org/assets/IMG_9923-01de9b43e417fb79d799d975e6a44d1b43fc4399a163cedcb79d0ce8a322c9cb.jpg">
      <div class="card-block">
        <h4 class="card-title">EFZ #1</h4>
        <p class="card-text">NOIP 练习赛。题目并不多。</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2016/07/07 19:00 ~ 21:00</li>
        <li class="list-group-item">300 people have enrolled in.</li>
      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Enroll</a>
        <a href="#" class="card-link">Learn More</a>
      </div>
    </div>
  </div>
</div>
