<header>
  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs">
      <div [collapse]="isNavbarCollapsed">
        <a class="navbar-brand" [routerLink]="['']">{{api.title}}</a>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="container">
    <a [href]="url">WindOJ</a>, an open-sourced online judge.
  </div>
</footer>
