<header>
  <my-navbar>
  </my-navbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="container">
    <nav class="nav nav-inline">
      <li class="nav-item"><a [href]="url">WindOJ</a>, an open-sourced online judge.</li>
      <li class="nav-item"><a class="nav-link" href="#">{{ 'FOOTER_ABOUT' | translate }}</a></li>
      <li class="nav-item"><a class="nav-link" href="#">{{ 'FOOTER_HELP' | translate }}</a></li>
      <li class="nav-item"><a class="nav-link" href="#">{{ 'FOOTER_FEEDBACK' | translate }}</a></li>
      <li class="nav-item"><a class="nav-link" href="#">{{ 'FOOTER_TOS' | translate }}</a></li>
      <li class="nav-item"><a class="nav-link" href="#">{{ 'FOOTER_LANG' | translate }}</a></li>
    </nav>
  </div>
</footer>
